<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Leaderboard', leaderboard_path, class: 'nav-link' %></li>
<li class="nav-item"> <%= link_to "All Scores", scores_path, class: 'nav-link'%>
